/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Mar-2017, 15:14:09
    Author     : Aetchell
*/
@media print {
    .hidden-print {
        display:none;
    }    
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative', cursive;
    line-height: 1.7;
}
body {
    font-size:10px;
    font-family: 'Roboto', sans-serif;
}
.pageBreak {
    page-break-before:always;
}
strong {
    font-weight: 600;
}
.nbl{border-left:0px;}
.nbr{border-right:0px;}
.nbt{border-top:0px;}
.nbb{border-bottom:0px;}

.injured {
    color:#bbb;
}

table {
    border:1px solid #ccc;
    width:100%;
    border-spacing: 0px;    
}
table tr td,
table tr th{
    padding:5px;
    vertical-align: top;
    position: relative;
    border:1px solid #ccc;
    border-collapse:collapse;
    margin:0;
}
table tr th {
    text-align:left;
    background-color:#ccc;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size:12px;
}
table tr td input {
border: 1px solid #333;
    padding: 1px 0px;
    display: inline;
    margin: 0;
    /* line-height: 15px; */
    top: 2px;
    position: relative;
}
.center {
    text-align: center;
}
td.w10 {
    width:9%;
}
td.w30 {
    width:46%;
}

td.w15 {
    width:23%;
}
