html,body {
    height: 100%;
	background-color:#3D4A62;
}
body #main {
    min-height: calc(100% - 95px);
	background-image:url('../img/bg.jpg');
	background-repeat:repeat;
}
body #main > .container {
    background-color:#ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	min-height:600px;
}

h1 .btn-group,
h2 .btn-group,
h3 .btn-group,
h4 .btn-group,
h5 .btn-group,
h6 .btn-group {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.info-bubble {
    text-decoration: none;
    color:#fff;
    margin-right: 3px;
    line-height: 2.2;
}

a.info-bubble:hover {
    text-decoration: none;
    color:#fff;
}


.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
}
.panel-heading.spell-panel-heading.bgbl {
    color:#333333;
}

.tab-content {
    margin-top:2rem;
}
.nav-tabs>li>a {
    border-radius: 0;
}
.navbar-inverse .navbar-brand {
    padding: 5px 15px;
}
.navbar {
    border-radius: 0px;
    margin-bottom:0;
}
.navbar-inverse{
    background-color:#222;
}
.navbar-inverse {
    min-height:60px;
    background-color:#3D4A62;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #F8F9FD;
}
.navbar-inverse .navbar-nav>li>a {
    line-height: 30px;
}
.navbar-inverse .navbar-brand {
    width:150px;
}



.header-button-area{
    /*    margin-top: 35px;
        margin-bottom: 10px;
        line-height:1.7;*/
}
.cinzel {
    font-family: 'Cinzel Decorative', cursive;
}
.pageHeading {

}
.btn {
    border-radius: 0px;
}
.btn.btn-narrow {
    padding: 6px 0px;
}
.btn.treated {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.dropdown-menu>li.disabled {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #999;
    white-space: nowrap;

}


.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}
/*
.open>.dropdown-menu {
    padding:0.3rem 1rem;
    font-size:1.2rem;
    min-width: 25rem;
    margin: 0px 0 0;
    border-radius: 0px;
    background-color: #f2f2f2;
    margin-top: -1px;
    border: 0px;
}*/
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #f2f2f2;
    border-color: #adadad;
}
/*
.open>.dropdown-menu>li>div {
    padding:0.3rem 0rem;
}
.open>.dropdown-menu>li h5 {
    margin:0;
}
.dropdown.item   {
    display:inline-block;
}
*/

.dropdown-toggle {
    margin-bottom:4px;
}
.open>.dropdown-menu{
    margin-top: -5px;
}


.navbar.navbar-inverse,
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border:0px;
}


.footer {
    background-color:#3D4A62;
color:#fff;
    padding:3rem 0;
}
.footer a {
	color:#fff;
}

#modalWindows .modal-small .modal-body {
    max-height: auto;
    overflow-y:auto;
}

.navbar {
    margin-bottom: 0px;
}
.homePageOwl{height:400px; position:relative;}
.homePageOwl .pageHeading{
    position:absolute;
    right: 60px;
    top: 30px;
    color:#fff;
    font-weight: 600;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.homePageOwl .pageHeading.left{
    position:relative;
    right: initial;
    top: initial;

}
.homePageOwl .item {
    height:400px;
    width:100%;
    background-size:cover;
    background-position: 50%;
}
.homePageOwl .item .img50p {
    width:50%;
    display:inline;
}
.visible-print {
    display:none;
    width:0px;
    height:0px;
}


.stat-box {
    border-radius: 50%;
    border: 1px solid #cccccc;
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
    text-align: center;
}

.listBuiders {}

.listBuiders .listBuilder {height:300px;    margin-bottom: 30px;}
.listBuiders .listBuilder > a{height: 300px;
    background-size: cover;
    display: block;
    position: relative;
    border: 1px solid #23527c;
    box-shadow: 5px 5px 10px #888888;}
.listBuiders .listBuilder .name{     font-family: sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3D4A62;
    color: #fff;
    margin: 0;
    padding: 10px 0;}
.listBuiders .listBuilder .desc{display:none;}
.listBuiders .listBuilder .img{}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  /*padding: 3px 5px;*/
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  /*color: #ff3546;*/
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.dropdown-menu {
	border-radius:0;
}
.dropdown-menu #OpauthLoginForm_LoginForm {
	    padding: 5px 10px;
}


#Form_ClubForm label,
#Form_ClubForm input:not([type='checkbox']):not([type='radio']):not([type='submit']),
#Form_ClubForm select,
#Form_ClubForm textarea {
	width:100%;
}
#Form_ClubForm input:not([type='checkbox']):not([type='radio']):not([type='submit']),
#Form_ClubForm select,
#Form_ClubForm textarea {
	border:1px solid #555555;
	padding:10px;
}
#Form_ClubForm .field {
	margin-bottom:15px;
}
#Form_ClubForm .field.googlemap,
#Form_ClubForm .field.upload {
	width:calc(50% - 30px);
	float:right;
}

#Form_ClubForm .field.upload{
	clear:right;
}
#Form_ClubForm .field.text {
	width:50%;
}
#Form_ClubForm .field.textarea {
	width:50%;
}
#Form_ClubForm input[type='checkbox'],
#Form_ClubForm input[type='radio'] { 
	display: inline-block;
	vertical-align: top;
}
#Form_ClubForm  .googlemapfield-map {
    width: 100%;
    height: 480px;
    border: 1px solid #b3b3b3;
    margin-top: 8px;
    box-sizing: border-box;
    max-width: initial;
}
#Form_ClubForm .sep {
	width:100%;
	diisplay:block;
	height:1px;
}
form .checkbox input[type=checkbox], form .checkbox-inline input[type=checkbox], form  .radio input[type=radio], form  .radio-inline input[type=radio] {
    margin-left: initial;
}

@media (max-width: 960px) {
.dropdown.mega-dropdown.open {color:#fff;}
.dropdown.mega-dropdown.open a {    color: #fff;
    padding: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    background-color: #4e596d;}
.dropdown.mega-dropdown.open .dropdown-header,
.dropdown.mega-dropdown.open>.dropdown-headerli>a  {color:#fff;padding:0;size:1rem;margin-top:25px;}
}







@media (min-width: 768px){
	
.navbar-header {
    min-width:250px;
}	

.navbar-header img{
    margin-top:5px;
}
	
    .modal-dialog {
        width: 100%;
        /*        max-width:1170px;*/
        margin: 0;
    }

    .modal-small .modal-dialog {
        width: 384px;
        margin: 30px auto;
    }
}

