@import url('https://fonts.googleapis.com/css?family=Wellfleet');
body.dmhposse, body.dmhposseholder{
    background-color:#f7edc8;
}
.dmhposseholder h1,
.dmhposseholder h2,
.dmhposseholder h3,
.dmhposseholder h4,
.dmhposseholder h5,
.dmhposseholder h6,
.dmhposse h1,
.dmhposse h2,
.dmhposse h3,
.dmhposse h4,
.dmhposse h5,
.dmhposse h6 {
    font-family: 'Wellfleet', cursive;
}
tbody.rogue th {
    background-color:#ad6704;
}
tbody.aligned th {
    background-color:#ff9900;
}
.unitCard h3 {margin-top:0px;}
.unitCard .notes{
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
    margin: 10px 0;
    line-height: 1;
    font-size: 0.9em;
    min-height: 44px;    
}
.unitCard .weapon{
    min-height: 34px;    
}
.unitCard {
    border:1px solid #cccccc;
    background-color:#f5e79e;
    margin-bottom:30px;
    padding:15px;
}