/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Mar-2017, 11:35:39
    Author     : Aetchell
*/

body #main {
    min-height: calc(100% - 95px);
	background-image:none;
	background-repeat:repeat;
	background-color:#ffffff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative', cursive;
    line-height: 1.7;
}
#warbandContainer {
    /*    margin-top:2rem;*/
}
#warbandContainer .dropdown-menu li {
    padding: 0 5px;
}
.warbandActions {
    margin:1.5rem  0rem;
}

.fgwarband #main {
    margin-top:2rem;
}
.HomePage #main {
    margin-top:0rem;
}
.selectSpell .input-group {
    overflow: hidden;
    width:100%;
}
.selectSpell .input-group-addon {
    text-align: left;
    border: 0px solid #ccc;
    border-radius: 0px;
    font-size: 1.1rem;

}
.selectSpell .input-group-addon:first-child {
    width:40%;
    min-width:105px;
}

.startingSpells [class*="col-"] {
    padding-left: 0;
    padding-right: 1px;
    margin-bottom: 1px;
}

.unit-block {
    border: 1px solid #ddd;
    margin-bottom: 3rem;
    -webkit-box-shadow: 7px 8px 20px -4px rgba(219,219,219,1);
    -moz-box-shadow: 7px 8px 20px -4px rgba(219,219,219,1);
    box-shadow: 7px 8px 20px -4px rgba(219,219,219,1);
}

.unit-block-header{
    padding:1rem 2rem;
    background-color:#f2f2f2;
}
.unit-table.table{
    margin-bottom: 0px;
}
.unit-block-content{
    padding:1rem;
}
.unit-table th.name {
    width:23%;
}
.unit-table.table>tbody>tr>td.options{
    /*    width:40%;*/
    min-width:120px;
}
.unit-table.table>thead>tr>th.item{
    /*    width:60%;*/
}
.unit-table.table>tbody>tr>td,
.unit-table.table>tbody>tr>th,
.unit-table.table>tfoot>tr>td,
.unit-table.table>tfoot>tr>th,
.unit-table.table>thead>tr>td,
.unit-table.table>thead>tr>th {
    line-height: 2;
    /*    vertical-align:middle;*/
    position:relative;
}

.unit-table.vault.table>tbody>tr>td,
.unit-table.vault.table>tbody>tr>th,
.unit-table.vault.table>tfoot>tr>td,
.unit-table.vault.table>tfoot>tr>th,
.unit-table.vault.table>thead>tr>td,
.unit-table.vault.table>thead>tr>th {
    vertical-align:top;
}
.unit-table.table>tbody>tr>td.stat{
    font-size: 1.6rem;
    font-weight: 700;
}
.unit-table.table>tbody>tr.soldierInjured {
    background-color:#fffcfc;
    color:#999999;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.unit-table.table>tbody>tr.illusionaryUnit {
    background-color:#f2f2f2;
    color:#adadad;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.unit-table.table.table-striped>tbody>tr:nth-of-type(odd) {
	background-color:#ffffff;
}
.unit-table.table.table-striped>tbody>tr:nth-child(6n+1),
.unit-table.table.table-striped>tbody>tr:nth-child(6n+2),
.unit-table.table.table-striped>tbody>tr:nth-child(6n+3){
    background-color: #f9f9f9;
}

.unit-table.table>tbody>tr.soldierInjured td a.btn,
.unit-table.table>tbody>tr.illusionaryUnit td a.btn{
    text-shadow: initial;
}
.unit-table.table>thead>tr>th {
    white-space:nowrap;
}
.unit-table td,.unit-table th{
    font-size:1.2rem;
}
.unit-table .open .dropdown-toggle{
    position:relative;
}
.unit-table .open .dropdown-toggle+.dropdown-menu.renameUnitForm{
    position: absolute;
    /*    top: inherit;
        left: inherit;
        margin-top: -35px;
        margin-left: 25px;*/
    top: 5px;
    left: 35px;
}
.unit-block h3 {
    margin: 1rem 0;
    margin-top:0;
}

.open>ul.dropdown-menu.renameUnitForm {
    background-color:#fff;
    border:1px solid #ccc;
    width:200px;
    padding:0.5rem;
}
.open>ul.dropdown-menu.renameUnitForm button{
    margin-top:-0.1rem;
}
.open>ul.dropdown-menu.renameUnitForm input[type="text"]{
    width:16.5rem;
}


#addItem .modal-body,
#addSoldier .modal-body{
    max-height:600px;
    overflow-y:scroll;
}
#modalWindows .modal-body {
    max-height: 500px;
    overflow-y: scroll;
}


.addsoldiersoptions{
    min-width:150px;
}
.unitlistoptions {
    min-width:130px;
}
#addItem .modal-body table .item{width:20%;}
#addItem .modal-body table .desc{width:30%;}
#addResource .modal-body table .desc{width:50%;}
#addItem .modal-body table .uses{width:15%;}
#addItem .modal-body table .cost{width:15%;}
#addItem .modal-body table .options{width:20%;}
#addItem .modal-body table .addbuttons a{margin-left:0px;}

.stat-card .stat-title{
    background-color:#000;
    color:#fff;
    font-weight:700;
}
.stat-card >div.row>div{
    padding:0.4rem;
    font-size:1.1rem;
}

.spell-list {
    border:1px solid #ddd;
    margin-bottom:3rem;
    -webkit-box-shadow: 4px 4px 20px -4px rgba(219,219,219,1);
    -moz-box-shadow: 4px 4px 20px -4px rgba(219,219,219,1);
    box-shadow: 4px 4px 20px -4px rgba(219,219,219,1);
}
.spell-list-header {
    padding:1rem 2rem;
    background-color:#f2f2f2;
    font-family: 'Cinzel Decorative', cursive;
}
.spell-list-spells {
    padding:1rem 2rem;
}
.spell-desc {
    font-size:1.2rem;
}
ul.dropdown-menu.demonicList,
ul.dropdown-menu.injuryList,
ul.dropdown-menu.assigntolist,
ul.dropdown-menu.levelList,
ul.dropdown-menu.trickList{
    padding: 0rem;
}
ul.dropdown-menu.demonicList a,
ul.dropdown-menu.injuryList a,
ul.dropdown-menu.levelList a,
ul.dropdown-menu.trickList a,
ul.dropdown-menu.assigntolist a{
    padding:10px;
    font-size:1.2rem;
}
ul.dropdown-menu.assigntolist .disabled {
    padding: 10px 15px !important;
    font-size: 1.2rem;
    color:#888;
}
ul.dropdown-menu.demonicList a,
ul.dropdown-menu.injuryList a,
ul.dropdown-menu.levelList a,
ul.dropdown-menu.trickList a{
    color:#fff;
}
ul.dropdown-menu.demonicList,
ul.dropdown-menu.injuryList{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
ul.dropdown-menu.demonicList {
	min-width:440px;
	    padding:0;margin:0;
}
ul.dropdown-menu.levelList,
ul.dropdown-menu.trickList{
    color: #fff;
    background-color: #398439;
    border-color: #255625;
    min-width:300px;
	    padding:0;margin:0;
}

ul.dropdown-menu.levelList li,
ul.dropdown-menu.trickList li{
    padding:0;margin:0;
}
ul.dropdown-menu.levelList li a,
ul.dropdown-menu.trickList li a{
    padding:2px;margin:0;
}
ul.dropdown-menu.levelList a:hover,
ul.dropdown-menu.trickList a:hover{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
ul.dropdown-menu.demonicList li.col,
ul.dropdown-menu.levelList li.col,
ul.dropdown-menu.trickList li.col{
    width:50%;
    float:left;
}

.dropdown-menu.levelList .divider {
    height: 1px;
    margin: 0px;
    overflow: hidden;
    background-color: #fff;
    display: block;
    clear: both;
}
.dropdown-menu.demonicList .dropdown-header,
.dropdown-menu.levelList .dropdown-header {
    color:#ffffff;
    display: block;
    clear: both;
}
.unit-options .dropdown-toggle {
    margin-bottom:0px;
}
.unit-options .open>.dropdown-menu{
    margin-top: 0px;
} 
ul.dropdown-menu.demonicList a,
ul.dropdown-menu.injuryList a{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
ul.dropdown-menu.demonicList a:hover, 
ul.dropdown-menu.injuryList a:hover{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.inlinedropdowns .dropdown.item {
    display:inline-block;
}


@media (max-width: 768px){
	#warbandContainer .btn-group-sm>.btn, #warbandContainer .btn-sm {
		padding: 2px 4px;
	}
}
@media print {
    .unit-table.table>tbody>tr>td,
    .unit-table.table>tbody>tr>th,
    .unit-table.table>tfoot>tr>td,
    .unit-table.table>tfoot>tr>th,
    .unit-table.table>thead>tr>td,
    .unit-table.table>thead>tr>th {
        line-height: 1.4;
        vertical-align:middle;
    }

    a[href]:after {
        content: '';
    }
    .unit-table th.name {
        width:initial;
    }
    span.visible-print,
    .visible-print
    {
        display: inline!important;
    }
}
