body{
    background-color: #F9F9F9;
}
#main {margin-bottom:30px;}
#header-block {
    background-color:#000000;
    margin-bottom: 30px;
}
.Club #header-block {
    margin-bottom:0;
}
.container-fluid.no-pad {
    padding-left:0;
    padding-right:0;
}
#navbar-main {
    margin-bottom:0;
    background-color:transparent;
}
#navbar-main  .navbar-nav>li>.dropdown-menu {
    padding:7px 15px;
}
.content-row {
    margin-bottom:30px;
}
.content-col {
    background-color:#fff;
    padding:15px;
}

.content-col.ice {
    background-color: #AFC1CC;
    /*background-image: url('../img/ice-bg.jpg');*/
    background-position: center bottom;
}

.img-bot-space {
    margin-bottom:15px;
}

footer {
    padding-top:30px;
    background-color: #DFE6DD;
}

.homePageOwl,
.homePageOwl .item{
    height: 400px;
    overflow: hidden;
}
.homePageOwl .item{
    padding:30px 0;
}
.homePageOwl .owl-item > .item {
    background-size: cover;
}
.owl-carousel.homePageOwl .item img.img50p {
    width:250px;
}

.homePageOwl .txt-white,
.homePageOwl .txt-white a{
    color:#ffffff;
}
.homePageOwl .text-box{
    width: 300px;
    background-color:#303936;
    margin: 5px 0 10px;
    padding:10px;
}

.homePageOwl .text-box.sand {
    background-color: #C09A49;
    color:#000;
}



.club-finder,.donations {
    height: 350px;
    position:relative;
    background-position: center top;
    background-size:cover;
}
.club-finder h2, .donations h2 {
    font-size: 30px;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: black 1px 1px 1px;
    margin:0;
}
.donations {
    background-image: url('../img/donate.jpg');
}
.club-finder {
    background-image: url('../img/club-finder.jpg');
}
.donations .overlay,
.club-finder .overlay{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 15px;

}



.listBuiders {}

.listBuiders .listBuilder {height:300px;    margin-bottom: 30px;}
.listBuiders .listBuilder > a{height: 300px;
                              background-size: cover;
                              display: block;
                              position: relative;
                              border: 1px solid #23527c;
                              box-shadow: 5px 5px 10px #888888;}
.listBuiders .listBuilder .name{     font-family: sans-serif;
                                     position: absolute;
                                     bottom: 0;
                                     width: 100%;
                                     text-align: center;
                                     background-color: #3D4A62;
                                     color: #fff;
                                     margin: 0;
                                     padding: 10px 0;}
.listBuiders .listBuilder .desc{display:none;}
.listBuiders .listBuilder .img{}



#Form_ClubForm label,
#Form_ClubForm input:not([type='checkbox']):not([type='radio']):not([type='submit']),
#Form_ClubForm select,
#Form_ClubForm textarea {
    width:100%;
}
#Form_ClubForm input:not([type='checkbox']):not([type='radio']):not([type='submit']),
#Form_ClubForm select,
#Form_ClubForm textarea {
    border:1px solid #555555;
    padding:10px;
}
#Form_ClubForm .field {
    margin-bottom:15px;
}
#Form_ClubForm .field.googlemap,
#Form_ClubForm .field.upload {
    width:calc(50% - 30px);
    float:right;
}

#Form_ClubForm .field.upload{
    clear:right;
}
#Form_ClubForm .field.text {
    width:50%;
}
#Form_ClubForm .field.textarea {
    width:50%;
}
#Form_ClubForm input[type='checkbox'],
#Form_ClubForm input[type='radio'] {
    display: inline-block;
    vertical-align: top;
}
#Form_ClubForm  .googlemapfield-map {
    width: 100%;
    height: 480px;
    border: 1px solid #b3b3b3;
    margin-top: 8px;
    box-sizing: border-box;
    max-width: initial;
}
#Form_ClubForm .sep {
    width:100%;
    display:block;
    height:1px;
}
form .checkbox input[type=checkbox], form .checkbox-inline input[type=checkbox], form  .radio input[type=radio], form  .radio-inline input[type=radio] {
    margin-left: initial;
}

.btn {
    border-radius: 0px;
}










.warband-quick-select a{padding:8px;display:block;margin-bottom: 7px; text-decoration:none;}
.warband-quick-select a:hover,.warband-quick-select a:focus{text-decoration:underline;}
.warband-quick-select .warband-list a{text-align:center;}
.warband-quick-select .warband-list a strong{display:block;font-family: 'Cinzel Decorative', cursive;}

.chronomancer{}
.chronomancer.bgCol{background-color:#9A4B50;color:#fff;}
.chronomancer.bgbl{border-left:10px solid #9A4B50;color:#fff;}

.elementalist{}
.elementalist.bgCol{background-color:#9B2D2E;color:#fff;}
.elementalist.bgbl{border-left:10px solid #9B2D2E;color:#fff;}

.enchanter{}
.enchanter.bgCol{background-color:#757E7D;color:#fff;}
.enchanter.bgbl{border-left:10px solid #757E7D;color:#fff;}

.illusionist{}
.illusionist.bgCol{background-color:#4B7F4F;color:#fff;}
.illusionist.bgbl{border-left:10px solid #4B7F4F;color:#fff;}

.necromancer{}
.necromancer.bgCol{background-color:#4D484E;color:#fff;}
.necromancer.bgbl{border-left:10px solid #4D484E;color:#fff;}

.sigilist{}
.sigilist.bgCol{background-color:#98A683;color:#fff;}
.sigilist.bgbl{border-left:10px solid #98A683;color:#fff;}

.soothsayer{}
.soothsayer.bgCol{background-color:#6069A0;color:#fff;}
.soothsayer.bgbl{border-left:10px solid #6069A0;color:#fff;}

.summoner{}
.summoner.bgCol{background-color:#924C64;color:#fff;}
.summoner.bgbl{border-left:10px solid #924C64;color:#fff;}

.thaumaturge{}
.thaumaturge.bgCol{background-color:#D4DEEA;color:#333;}
.thaumaturge.bgbl{border-left:10px solid #D4DEEA;color:#fff;}

.witch{}
.witch.bgCol{background-color:#6F5072;color:#fff;}
.witch.bgbl{border-left:10px solid #6F5072;color:#fff;}

.beastmaster{}
.beastmaster.bgCol{background-color:#AE8F31;color:#fff;}
.beastmaster.bgbl{border-left:10px solid #AE8F31;color:#fff;}

.spiritualist{}
.spiritualist.bgCol{background-color:#CBE2A0;color:#333;}
.spiritualist.bgbl{border-left:10px solid #CBE2A0;color:#fff;}

#spells-block .bgbl {color: #000;}
.dropdown-menu .bgCol {
        padding: 10px;
    margin: 0;
    display:block
}

@media (max-width: 768px){
	
    #navbar-main .dropdown-menu, 
    #navbar-main .dropdown-menu a, 
    #navbar-main .dropdown-menu .text-center {
        color:#9d9d9d;
        text-align:left;
    }
    #navbar-main .dropdown-menu p,
    #navbar-main .img-bot-space{
        display:none;
    } 
    #navbar-main .warband-list li > a {
    display: block;
    padding: 15px;
    margin-bottom: 10px;        
    }
    #navbar-main .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }    
}
#LocationDetailsContainer {
    position:relative;
}
#LocationDetailsContainer .locationItem{
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    border:1px solid #cccccc;
    width: 300px;
    display: none;  
    padding:0px;
    left:30px;
    top:30px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(173,173,173,1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(173,173,173,1);
    box-shadow: 5px 5px 15px 0px rgba(173,173,173,1);    
}
.locationItem h2 {
    margin-top:0;
    text-transform:uppercase;
}
.locationItem .locationItemLinks {
    font-size:1.5em;
}
.locationItem .locationItemLabel {
    display:block;
    font-weight: 700;
    margin-top:1em;
}
.locationItem .locationItemInner{
    padding:20px;    
}
.locationItem h3{
    margin-top:0;
    color:#000;
    text-transform: uppercase;
}
.locationItem .learn-more{
    display: block;
    background-color: #000;
    padding: 10px;
    padding-left: 20px;
    color:#ffffff;
}
#ClubMap {
    min-height:200px;
}

.fb-blue {color:#3b5998;}
.twitter-blue {color:#4099FF;}
.google-red {color: #dd4b39;}